body {
    background: #eee;
}

label {
    width: 100%;
}

label.error:after {
    content: attr(data-error);
    color: #F44336;
}

#main {
    width: 1000px;
    margin: auto auto;
}

.forum h1 {
    padding: 11px 15px 11px 15px;
    font-size: 16px;
    background: #212121;
    margin: 0;
} 

.forum h1 a {
    color: white;
}

.subforums {
    border: 1px solid #ccc;
    border-top: none;
}

.subforum { 
    display: table;
    width: 100%;
    padding: 8px;
    height: 64px;
}

.subforum > div {
    display: table-cell;
    vertical-align: middle;
}

.subforum > .count {
    width: 10%;
    text-align: center;
}

.subforum > .lastpost {
    width: 20%;
    font-size: 13px;
    padding: 0 10px;
}

.subforum a {
    color: #479;
}

.subforum a:hover {
    color: #b16;
}

.subforum h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: initial;
}

.subforum.even {
    background: #fcfcfc;
}

.subforum.odd {
    background: #f6f6f6;
}

.subsubforum {
    font-size: 14px;
}