body {
    background: #eee;
    padding-bottom: 24px;
}

label {
    width: 100%;
}

label.error:after {
    content: attr(data-error);
    color: #F44336;
}

#main {
    width: 1000px;
    margin: auto auto;
}

#navigation {
    display: inline-block;
    padding-left: 16px;
}

.subsubforum {
    font-size: 14px;
}

.avatar, .avatar > img {
    border-radius: 50%;
}

#error {
    background: #f77;
    font-weight: bold;
    text-align: center;
    padding: 32px;
    font-size: 24px;
}