#posts {
    background: #f6f6f6;
    padding: 12px;
    padding-bottom: 0.1px;
}

.post .text table {
    border-collapse: collapse;
}

.post .text table, .post .text th, .post .text  td {
    border: 1px solid black;
    padding: 4px;
}

.post .text ul, .post .text ul li {
    list-style-type: initial;
}

.post .text ul {
    padding: 0 40px;
}

.post {
    display: table;
    width: 100%;
    background: white;
    margin-bottom: 12px;
}

.post .user-info {
    display: table-cell;
    width: 15%;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    margin-right: 16px;
}

.post .text {
    display: table-cell;
    padding-right: 8px;
}