.forum-row { 
    height: 64px;
}

.forum-row > .table-cell {
    vertical-align: middle !important;
}

.forum-row > .topic {
    padding-left: 8px;
}

.forum-row > .count {
    width: 100px;
    text-align: center;
}

.forum-row > .lastpost {
    width: 250px;
    font-size: 13px;
    padding: 0 10px;
}

.forum-row > .lastpost > .truncate {
    max-width: 250px;
}

.forum-row > .avatar {
    width: 48px;
    font-size: 0;
}

.forum-row h2, .forum-row h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: initial;
}

.forum-row h3 {
    font-size: 13px;
    margin: 0;
}

.forum-row.even {
    background: #fcfcfc;
}

.forum-row.odd {
    background: #f6f6f6;
}

.forum-header {
    padding: 11px 15px 11px 15px;
    font-size: 16px;
    background: #212121;
    margin: 0;
    color: white;
} 

.forum-header a {
    color: white;
}

.forum-content {
    border: 1px solid #ccc;
    border-top: none;
}
