body {
    background: #eee;
    padding-bottom: 24px;
    min-width: 1224px;
}

label {
    width: 100%;
}

label.error:after {
    content: attr(data-error);
    color: #F44336;
}

a:hover {
    color: #d81b60
}

#main {
    width: 1200px;
    margin: auto auto;
}

#navigation {
    display: inline-block;
    padding-left: 16px;
}

#error {
    background: #f77;
    font-weight: bold;
    text-align: center;
    padding: 32px;
    font-size: 24px;
}

#newPostForm {
    text-align: center;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.sidebar {
    width: 266px;
    padding-left: 16px;
}

.circle {
    border-radius: 50%;
}

.subsubforum {
    font-size: 14px;
}
