.widget-content {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-top: none;
    padding: 6px;
}

.widget-header {
    padding: 11px 15px 11px 15px;
    font-size: 16px;
    background: #212121;
    color: white;
    margin: 0;
}

.widget-row {
    height: 48px;
}

.widget-row .table-cell {
    vertical-align: middle !important;
}

.widget-avatar {
    width: 44px;
    font-size: 0;
}

.widget-topic {
    font-size: 13px;
}

.widget-user {
    font-size: 16px;
}

.widget-right {
    text-align: right;
    font-size: 16px;
}